.users-container{
    display: flex;
}

.profile-container{
    width: 70%;
    border-right: 2px solid lightgray;
    margin-left: 80px;
    margin-right: 5px;
}

.summary-container{
    margin-left: 20px;
    color: blue;
}